html input[type='button'].btn {
  background: hsl(333, 15%, 35%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
  transition: transform 60ms;
  margin: 0;

  &:hover {
    background: hsl(333, 25%, 35%);
  }

  &:active,
  &:disabled {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    transform: translateY(0);
  }

  &:disabled {
    background: hsl(333, 5%, 35%);
    color: #bbb;
  }
}
