.bootstrap-styles {
  .gm-ajg__aviso {
    width: 100%;
    background: hsl(266, 35%, 85%);
    padding: 0.5em;
    border-color: hsl(266, 100%, 15%);
    border-style: solid;
    border-width: 1px 0;
  }
  .gm-ajg__aviso--carregado {
  }
  .gm-ajg__aviso--nao-carregado {
    display: none;
  }
  .gm-ajg__lista {
    font-size: 1.2em;
  }
  .gm-ajg__lista__processo {
    float: left;
    margin-right: 3ex;
  }
  .gm-ajg__lista__resultado {
  }
  .gm-ajg__lista__resultado--ok {
    color: green;
  }
  .gm-ajg__lista__resultado--erro {
    color: red;
  }
  .gm-ajg__div {
    fieldset {
      width: max-content;
      background: hsl(266deg, 30%, 90%) !important;
      border-radius: 0.5em;

      legend {
        background: hsl(266, 35%, 85%);
        padding: 0.2em;
        border-radius: 0.5em;
        border: 1px solid hsl(266deg, 40%, 50%);
      }
    }
  }
}
