.gm-ajg__aviso {
}
.gm-ajg__aviso--carregado {
}
.gm-ajg__aviso--nao-carregado {
  display: none;
}
.gm-ajg__lista {
  font-size: 1.2em;
}
.gm-ajg__lista__processo {
  float: left;
  margin-right: 3ex;
}
.gm-ajg__lista__resultado {
}
.gm-ajg__lista__resultado--ok {
  color: green;
}
.gm-ajg__lista__resultado--erro {
  color: red;
}
body {
  background-color: red !important;
}
