#gm-blocos {
  --accent: hsl(266deg, 40%, 25%);
  --bg: hsl(266deg, 10%, 30%);
  --disabled: hsl(266deg, 5%, 37.5%);
  --disabled-text: hsl(266deg, 0%, 80%);
  --shadow: hsl(266deg, 12.5%, 17.5%);
  --muted-accent: hsl(266deg, 25%, 25%);
  --text: hsl(266deg, 0%, 100%);
}
