@import './cores.scss';
.infra-styles {
  #gm-blocos {
    margin: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    width: max-content;
    background: var(--bg);
    color: var(--text);
    box-shadow: 0 3px 3px var(--shadow);

    h4 {
      margin: 3px 0;
      font-size: 1.25rem;
      font-weight: 300;
    }

    input[type='image'] {
      border: none;
    }

    table {
      margin: 0;
      margin-bottom: 16px;
      border-collapse: collapse;
    }

    td {
      margin: 0;
      padding: 3px 0.5ch;
      vertical-align: middle;
      label {
        font-size: 0.92rem;
      }
      small {
        font-size: 0.75rem;
      }
    }

    tr {
      border: 1px solid var(--disabled);
      border-width: 1px 0;
    }

    tfoot td {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    input.rename {
      font-size: 1em;
    }

    .gm-erro,
    .gm-aviso {
      padding: 0.1em 0.5ex;
      font-size: 0.9rem;
      background: hsl(0, 10%, 95%);
      color: hsl(0, 100%, 40%);
      margin: 2px auto 6px;
      width: fit-content;
    }
  }
}
.infra-styles #gm-blocos button,
.gm-blocos__dialog button {
  display: block;
  margin: 0 auto 7px;
  padding: 2px 20px;
  font-size: 0.86rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px var(--shadow);
  background: var(--muted-accent);
  color: var(--text);
  &:hover {
    transition: background-color 0.1s ease-in;
    background: var(--accent);
  }
  &:disabled {
    background: var(--disabled);
    color: var(--disabled-text);
    box-shadow: none;
  }
}
.gm-blocos__dialog {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  min-width: 25vw;
  border: 3px ridge var(--border);
  box-shadow: 0 4px 8px 4px hsla(266, 25%, 5%, 0.5);
  border-radius: 12px;

  &::backdrop {
    background: hsla(266, 25%, 5%, 0.75);
  }

  form {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    justify-items: center;
    align-items: center;

    div {
      font-weight: 700;
    }
  }
}
.gm-blocos__nome {
}
.gm-blocos__processos {
  border: 1px inset var(--border);
  padding: 0.5em 0.5ch;
}
