@import './cores.scss';
.infra-styles {
  #gm-blocos {
    margin: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    width: max-content;
    background: var(--bg);
    color: var(--text);
    box-shadow: 0 3px 3px var(--shadow);

    h4 {
      margin: 3px 0;
      font-size: 1.25rem;
      font-weight: 300;
    }

    input[type='image'] {
      border: none;
    }

    table {
      margin: 0;
      margin-bottom: 16px;
    }

    td {
      margin: 0;
      padding: 3px 0.5ch;
      vertical-align: center;
      label {
        font-size: 0.92rem;
      }
      small {
        font-size: 0.75rem;
      }
    }

    tfoot td {
      padding-top: 13px;
    }
  }
}
