:global(.bootstrap-styles) {
  :global(#divCapaProcesso) {
    :global(.row) {
      align-items: center;
    }

    .div {
      a.link {
        --cor: hsl(333, 75%, 25%);

        &.added {
          --cor: hsl(333, 75%, 35%);
        }

        &.wait {
          --cor: hsl(332, 15%, 35%);
        }

        .icon {
          color: var(--cor);
        }
      }
    }
  }

  :global(.navbar) {
    .link {
      :global(.navbar-icons).icon {
        color: hsl(333, 40%, 89%);

        &:hover {
          background-color: hsla(333, 100%, 75%, 0.5) !important;
        }
      }
    }
  }

  .dialogo {
    min-width: 35%;
    height: 90%;
    border-radius: 7px;
    box-shadow: 10px 20px 30px hsla(333, 15%, 15%, 0.5);
    background: hsl(333, 50%, 97%);

    &::backdrop {
      background-color: hsla(333, 15%, 15%, 0.8);
    }

    h1 {
      text-align: center;
    }

    q {
      font-style: italic;
    }

    button {
      border: 1px outset hsl(333, 50%, 75%);
      padding: 0.1em 1ch;
      border-radius: 4px;
      color: hsl(333, 100%, 8%);
      background: hsl(333, 25%, 85%);
    }

    .div_download,
    .div_upload {
      background: transparent;
      transition: 1s background 2s;
      padding: 1em 3ch;

      &.hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        top: -3em;
        left: -7ch;
        background: hsl(31, 100%, 93%);
        transition: none;
      }
    }

    .barra {
      text-align: right;
    }

    .aviso {
      background: hsl(31, 100%, 93%);
      border: 1px solid hsl(31, 25%, 75%);
      font-size: 90%;
      margin-block: 1em;
      padding-inline: 2ex;

      p {
        margin-block: 0.5em;
      }
    }
  }
}
