:global(.bootstrap-styles #divCapaProcesso) {
  :global(.row) {
    align-items: center;
  }
  .div {
    a.link {
      .icon {
        color: hsl(333, 75%, 25%);
      }

      &.added {
        .icon {
          color: hsl(333, 75%, 35%);
        }
      }

      &.wait {
        .icon {
          color: hsl(332, 15%, 35%);
        }
      }
    }
  }
}
