.bootstrap-styles {
  button.gm-cnis {
    border: none;
    padding: 0.3em 0.6em;
    box-shadow: 0 2px 4px #00000080;
    --btn-color: hsl(333, 20%, 40%);
    background-color: var(--btn-color);
    color: #fff;
    white-space: nowrap;
    font-size: 0.94em;

    &:hover {
      --btn-color: hsl(333, 35%, 45%);
    }

    &:active {
      box-shadow: none;
      translate: 0 2px;
    }
  }
}
