@media print {
  #gm-formulario,
  .noprint {
    display: none;
  }
}
@media screen {
  #gm-impressao,
  .noscreen {
    display: none;
  }
}
#gm-formulario {
  background: hsl(266, 50%, 95.1%);
  box-sizing: border-box;
  margin-top: 2%;
  margin-left: 2%;
  padding: 10px 3%;
  width: 90%;
  font-size: 14px;
  color: #333;
}
#gm-entrada p {
  margin: 0 0 1em;
  color: inherit;
  font-size: 1em;
}
#gm-explicacao {
  font-size: 0.94em;
  color: #444;
}
#gm-explicacao h4 {
  font-size: 1.05em;
  font-weight: 600;
}
#gm-explicacao ul {
  list-style: square inside;
}
#gm-explicacao ul ul {
  list-style: disc inside;
  margin-left: 2ex;
  margin-top: 0.5em;
}
#gm-explicacao li {
  margin: 0 0 0.5em;
  color: inherit;
  font-size: 1em;
}
#gm-entrada textarea {
  font-family: monospace;
}
#gm-tabela table {
  border-collapse: collapse;
}
#gm-tabela table th,
#gm-tabela table td {
  border: 1px solid black;
  padding: 0.5em 1ch;
}
#gm-tabela div {
  margin: 1em 0;
}
#gm-saida {
  font-family: monospace;
}
#gm-impressao table {
  page-break-inside: avoid;
}
