/*
div#content {
  margin: 0 auto;
  max-width: 1280px;
}
*/

table.resultTable > tbody > tr {
  --cor-pessoa: #444;

  &:not([id^='rowmovimentacoes']) > td:nth-last-child(3) {
    background: linear-gradient(
        to bottom right,
        var(--cor-pessoa) 50%,
        transparent 50%
      )
      top left / 12px 12px no-repeat;
  }

  &[id*=',JUIZ,'] {
    --cor-pessoa: #698e23;
    & > td:nth-last-child(3) {
      border: 1px solid var(--cor-pessoa);
    }
  }
  &[id*=',SERVIDOR,'] {
    --cor-pessoa: #698e23;
  }
  &[id*=',PROMOTOR,'] {
    --cor-pessoa: #236e8e;
  }
  &[id*=',ADVOGADO,'] {
    --cor-pessoa: #8e3523;
  }
  &[id*=',OUTROS,'] {
    --cor-pessoa: #595959;
  }
}

td a.link {
  display: inline-block;
  background-position-y: 0.5em;
}

table.resultTable {
  thead > tr > th {
    padding: 0 5px;
  }

  tr div.extendedinfo {
    border: none;
    margin: 0;
    width: auto;
  }

  tr.odd {
    background-color: #e0e6f0;
  }

  tr.even {
    background-color: #f5f7fa;
  }

  table.form {
    margin: 0 0 4px;
    width: calc(100% - 4px);
    border-collapse: collapse;
    border: 1px solid;

    td {
      width: auto;
      padding: 0;
      vertical-align: top !important;
    }

    td:nth-child(1) {
      width: 36px;
      text-align: center;
      padding-left: 6px;
      padding-right: 2px;
    }
    td:nth-child(2) {
      width: 16px;
      text-align: center;
      padding: 5px 0 4px;
    }
    td:nth-child(3) {
      width: 89%;
    }

    tr.odd {
      background: hsl(333, 34.8%, 91%);
    }

    tr.even {
      background: hsl(333, 33.3%, 97.1%);
    }

    .ajaxCalloutGenericoHelp {
      display: inline;
      margin-right: 4px;
    }
  }
}
