table.resultTable > tbody > tr {
  div > & > td:nth-last-child(4) {
    --cor-pessoa: hsl(var(--hue-pessoa) 50% 50%);
    background: linear-gradient(
        to bottom right,
        var(--cor-pessoa) 50%,
        transparent 50%
      )
      top left / 12px 12px no-repeat;
  }

  &[id*=',JUIZ,'] {
    --hue-pessoa: 0;
    & > td:nth-last-child(3) {
      border: 1px solid var(--cor-pessoa);
    }
  }
  &[id*=',SERVIDOR,'] {
    --hue-pessoa: 40;
  }
  &[id*=',ADVOGADO,'] {
    --hue-pessoa: 80;
  }
  &[id*=',PROMOTOR,'] {
    --hue-pessoa: 120;
  }
  &[id*=',DEFENSOR,'] {
    --hue-pessoa: 160;
  }
  &[id*=',PROCURADOR,'] {
    --hue-pessoa: 200;
  }
  &[id*=',OUTROS,'] {
    --hue-pessoa: 240;
  }
  &[id*=',AUDIENCIA,'] {
    --hue-pessoa: 280;
  }
  &[id*=',OFICIALJUSTICA,'] {
    --hue-pessoa: 320;
  }
}

table.resultTable {
  border-collapse: separate;

  thead > tr > th {
    padding: 0 5px;
  }

  tr div.extendedinfo {
    border: none;
    margin: 0;
    width: auto;
  }

  table.form {
    margin: 0 0 4px;
    width: calc(100% - 4px);
    border-collapse: collapse;
    border: 1px solid;

    td {
      width: auto;
      padding: 0;
      vertical-align: top !important;
    }

    td:nth-child(1) {
      width: 36px;
      text-align: center;
      padding-left: 6px;
      padding-right: 2px;
    }
    td:nth-child(2) {
      width: 16px;
      text-align: center;
      padding: 5px 0 4px;
    }
    td:nth-child(3) {
      width: 89%;
    }

    td:nth-child(4) {
      width: 16px;
    }

    tr.odd {
      background: hsl(333, 34.8%, 91%);
    }

    tr.even,
    tr.incidente {
      background: hsl(333, 33.3%, 97.1%);
    }

    .ajaxCalloutGenericoHelp {
      display: inline;
      margin-right: 4px;
    }
  }
}
