.dica {
  position: absolute;
  border: 1px solid #408;
  background: hsl(66, 25%, 93%);
  max-width: 25%;
}
td a.struck {
  cursor: not-allowed;

  &,
  &:hover {
    text-decoration: line-through;
  }
}
.avisoCarregando {
  font-size: 1.2em;
  font-style: italic;
}
.divConfigurarAbertura {
  text-align: right;
  --cor-secundaria: hsl(333, 20%, 35%);
}
:global(html #container .extendedinfo td a.link) {
  padding: 0 1px !important;
  border: 1px solid transparent;

  &.ultimoClicado {
    background: hsl(333, 35%, 91%) !important;
    border: 1px dotted hsl(333, 75%, 8%);
  }
}
