.gm-blocos__lista,
.gm-blocos__dialog,
.gm-blocos__processo {
  --accent: hsl(333, 40%, 25%);
  --bg: hsl(333, 10%, 30%);
  --border: hsl(333, 15%, 60%);
  --disabled: hsl(333, 5%, 37.5%);
  --disabled-text: hsl(333, 0%, 80%);
  --shadow: hsl(333, 12.5%, 17.5%);
  --muted-accent: hsl(333, 25%, 25%);
  --text: hsl(333, 0%, 100%);
}
.bootstrap-styles {
  .gm-blocos__lista {
    margin: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    width: max-content;
    background: var(--bg);
    color: var(--text);
    box-shadow: 0 3px 3px var(--shadow);

    h4 {
      margin: 3px 0;
      font-size: 1.25rem;
      font-weight: 300;
    }

    input[type='image'] {
      border: none;
    }

    table {
      margin: 6px 0 12px;
      border-collapse: collapse;
    }

    td {
      margin: 0;
      padding: 3px 0.5ch;
      vertical-align: middle;
      a[href] {
        color: white;
      }
      label {
        font-size: 0.92rem;
        margin: 0;
      }
      small {
        font-size: 0.75rem;
      }
    }

    tr {
      border: 1px solid var(--disabled);
      border-width: 1px 0;
    }

    tfoot td {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
    }

    input.rename {
      font-size: 1em;
    }

    .gm-erro,
    .gm-aviso {
      padding: 0.1em 0.5ex;
      font-size: 0.9rem;
      background: hsl(0, 10%, 95%);
      color: hsl(0, 100%, 40%);
      margin: 2px auto 6px;
      width: fit-content;
    }
  }
}
.bootstrap-styles .gm-blocos__processo button,
.bootstrap-styles .gm-blocos__lista button,
.gm-blocos__dialog button {
  display: block;
  margin: 0 auto 7px;
  padding: 2px 20px;
  font-size: 0.86rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px var(--shadow);
  background: var(--muted-accent);
  color: var(--text);
  &:hover {
    transition: background-color 0.1s ease-in;
    background: var(--accent);
  }
  &:disabled {
    background: var(--disabled);
    color: var(--disabled-text);
    box-shadow: none;
  }
}
.bootstrap-styles {
  .gm-blocos__dialog {
    background: var(--bg);
    color: var(--text);
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    min-width: 25vw;
    border: 3px ridge var(--border);
    box-shadow: 0 4px 8px 4px hsla(333, 25%, 5%, 0.5);
    border-radius: 12px;

    &::backdrop {
      background: hsla(333, 25%, 5%, 0.75);
    }

    form {
      display: grid;
      grid-template-rows: 1fr 10fr 1fr;
      justify-items: center;
      align-items: center;

      div {
        font-weight: 700;
      }
    }
  }
  .gm-blocos__nome {
    all: unset;
  }
  .gm-blocos__processos {
    all: unset;
    border: 1px inset var(--border);
    padding: 0.5em 0.5ch;
  }
}
.bootstrap-styles {
  .gm-blocos__processo {
    margin: 2px 3px 4px;
    padding: 4px;
    border-radius: 4px;
    background: var(--bg);
    color: var(--text);
    box-shadow: 0 3px 3px var(--shadow);

    h4 {
      margin: 3px 0;
      font-size: 1.25rem;
      font-weight: 300;
    }
    ul {
      list-style-type: none;
      margin: 3px 0 7px;
      padding: 0;
    }
    li {
      position: relative;
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-gap: 5px;
      align-items: center;
      margin: 4px 0;
      padding: 5px;
      border-radius: 2px;

      &::before {
        content: '';
        position: absolute;
        top: 2px;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #888;
        pointer-events: none;
      }
      &:last-of-type::before {
        content: none;
      }
      &:hover {
        background: var(--accent);
      }
    }
    label {
      margin: 0;
      font-size: 0.92rem;
    }
    .placeholder span {
      height: 1.38rem;
      animation: pulse 1s ease-in-out infinite alternate;
      border-radius: 4px;
      &:first-of-type,
      &:last-of-type {
        width: 1.38rem;
      }
      @keyframes pulse {
        from {
          background-color: var(--disabled);
        }
        to {
          background-color: var(--bg);
        }
      }
    }
    .error {
      margin: 10px 5%;
      padding: 4px 5%;
      border-radius: 4px;
      font-weight: 500;
      background: white;
      color: red;
    }
  }
}
