body {
  background-image: linear-gradient(
    to bottom,
    hsl(270, 100%, 98.8%) 0%,
    hsl(267.7, 13.8%, 63.1%) 100%
  );
  background-attachment: fixed;
}

table.resultTable {
  :scope > colgroup > col:nth-child(2) {
    visibility: collapse;
  }

  tr div.extendedinfo {
    border: none;
    margin: 0;
    width: auto;
  }

  table.form {
    margin: 15px;
    margin-left: auto;
    width: 40%;
    border-collapse: collapse;
    border: 1px solid;

    td {
      width: auto;
      padding: 0 6px;
    }

    td:nth-child(1) {
      width: 10%;
    }

    tr.odd {
      background: hsl(266, 25%, 86%);
    }

    tr.even {
      background: hsl(266, 35%, 97%);
    }
  }
}
