.infra-styles {
  .gm-atualizar-saldo__contas,
  .gm-atualizar-saldo__processo {
    span {
      font-size: 1.3em;
      line-height: 2em;
      color: hsl(266, 80%, 15%);

      &.zerado {
        color: hsl(266, 10%, 40%);
      }
      &.erro {
        color: hsl(0, 85%, 40%);
      }
      &.saldo {
        color: hsl(266, 75%, 25%);
      }
    }
    button {
      --regular-bg: hsl(266, 25%, 40%);
      --highlighted-bg: hsl(266, 40%, 45%);
      --faded-bg: hsl(266, 10%, 40%);

      border: none;
      border-radius: 4px;
      padding: 4px 12px;
      font-size: 1.3em;
      color: white;
      box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.5);
      background: var(--regular-bg);
      &.zerado {
        background: var(--faded-bg);
      }
      &:hover,
      &:focus {
        background: var(--highlighted-bg);
      }
      &:active {
        box-shadow: none;
        translate: 0 2px;
      }
    }
  }
  .gm-atualizar-saldo__processo {
    margin: 0 2px 8px;
    border-left: 4px solid hsl(266, 75%, 25%);
    padding: 0 4px;
  }

  .gm-atualizar-saldo__contas {
    border-left: 4px solid hsl(266, 75%, 25%);
    padding: 0 4px;
  }
}
