.infra-styles {
  .gm-atualizar-saldo__contas,
  .gm-atualizar-saldo__processo {
    --button-bg: hsl(266deg, 25%, 40%);
    --fg-color: hsl(266deg, 80%, 15%);
    // --border-color: hsl(266deg, 75%, 25%);
    --border-color: hsl(266deg, 10%, 40%);
    span {
      font-size: 1.3em;
      line-height: 2em;
      color: var(--fg-color);

      &.zerado {
        --fg-color: hsl(266, 10%, 40%);
      }
      &.erro {
        --fg-color: hsl(0, 85%, 40%);
      }
      &.saldo {
        --fg-color: hsl(266, 75%, 25%);
      }
    }
    button {
      border: none;
      border-radius: 4px;
      padding: 4px 12px;
      font-size: 1.3em;
      color: white;
      box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.5);
      background: var(--button-bg);
      &.zerado {
        --button-bg: hsl(266deg, 5%, 50%);
      }
      &:hover,
      &:focus {
        --button-bg: hsl(266deg, 40%, 45%);
      }
      &:active {
        box-shadow: none;
        translate: 0 2px;
      }
    }
  }
  .gm-atualizar-saldo__processo {
    margin: 0 2px 8px;
    border-left: 4px solid var(--border-color);
    padding: 0 4px;
  }

  .gm-atualizar-saldo__contas {
    border-left: 4px solid var(--border-color);
    padding: 0 4px;
  }
}
